/*RESET CSS*/

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-image: url("wood-pattern.png");
    background-color: #211b1b;
    margin: 0;
}

/*HEADER*/

header {
    display: flex;
    width: 94%;
    margin-left: 3%;
    margin-top: 1%;
    justify-content: space-between;
    align-items: baseline;
    background-color: #B00000;
    border-radius: 20px;
    box-shadow: 3px 5px 2px #000000;
}

.headerMenu ul{
    display: flex;
}

.headerList {
    margin-right: 2em;
    list-style: none;
}

.headerLink {
    text-decoration: none;
}

/*INTRO SECTION*/

.intro {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.intro h1 {
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 2px 5px 0 #000000;
}

.intro p {
    font-size: 1.2em;
    text-align: center;
    color: white;
    text-shadow: 2px 5px 1px #000000;
}

/*MAIN SECTION*/

.article1 {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: #312D2D;
    border: 2px solid #B00000;
    border-radius: 20px;
    box-shadow: 3px 5px 2px #000000;
}

.imgRight {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.articleImg{
    display: flex;
}

.articleContent {
    color: white;
    text-shadow: 2px 5px 4px #000000;
}

.article2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: #312D2D;
    border: 2px solid #B00000;
    border-radius: 20px;
    box-shadow: 3px 5px 2px #000000;
}

.imgLeft {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*ASIDE*/

.asideSection {
    width: 80%;
    margin-left: 10%;
}

/*FOOTER*/

footer {
    background-color: red;
}

footer p {
    text-align: center;
    font-size: 2em;
    margin: 0;
}